.btn {
  border: 2px solid;
  margin: $fs-default $fs-default * 0.25;
  padding: $fs-default * 0.5 $fs-default * 2;
  transition: all 0.5s;
}

.btn--outline {
  border-color: $color-gray-tint;
  background-color: transparent;

  &:hover {
    border-color: $color-palette;
    background-color: $color-palette;
  }
}

.btn--solid {
  border-color: $color-palette;
  background-color: $color-palette;

  &:hover {
    border-color: $color-gray-tint;
    background-color: transparent;
  }
}
