.products, .intro, .header {
  max-width: 960px;
  margin: 0 auto;
  padding: 6.4rem 2.4rem;
}

.header .header__text .header-heading {
  font-size: 4.4rem;
  color: #343a40;
  margin-bottom: 3.2rem;
}

.products .products__heading, .intro .intro__heading {
  font-size: 3.6rem;
  color: #343a40;
  margin-bottom: 2.8rem;
}

.products .products__items .products-item .products-info .products-heading-sub, .intro .intro__testimonial .intro-content .intro-quote, .intro .intro__items .intro-heading-sub {
  font-size: 2.2rem;
  color: #343a40;
  margin-bottom: 1.8rem;
}

.products .products__items .products-item .products-info .products-describe, .intro .intro__testimonial .intro-content .intro-detail, .intro .intro__items .intro-paragraph, .header .header__text .header-paragraph {
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.products .products__items .products-item .products-img, .intro .intro__testimonial .intro-img, .header .header__img {
  display: block;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  color: #495057;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}
.header .header__text {
  margin: auto 0;
}
.header .header__text .header-heading {
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
.header .header__img {
  border-radius: 1.6rem;
  overflow: hidden;
}

.intro .intro__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}
.intro .intro__testimonial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
  border-radius: 1.6rem;
  overflow: hidden;
  background-color: #099268;
  padding: 2.8rem;
}
.intro .intro__testimonial .intro-img {
  border-radius: 0.8rem;
  overflow: hidden;
}
.intro .intro__testimonial .intro-content {
  grid-column: 2/-1;
  margin: auto 0;
  color: #fff;
}
.intro .intro__testimonial .intro-content .intro-quote {
  color: #fff;
  font-weight: 700;
}
.products .products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}
.products .products__items .products-item {
  border-radius: 1.6rem;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.products .products__items .products-item .products-info {
  padding: 2.4rem;
}
.products .products__items .products-item .products-info .products-purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .products__items .products-item .products-info .products-purchase .products-price {
  font-weight: 700;
  color: #343a40;
}
.footer {
  border-bottom: 8px solid #099268;
}
.footer .footer__paragraph {
  color: #343a40;
  text-align: center;
  padding: 4.8rem;
}
.footer .footer__paragraph .footer__link {
  color: #099268;
}

.header .header__text .header-btn, .products .products__items .products-item .products-info .products-purchase .products-btn {
  display: inline-block;
  background-color: #099268;
  color: #fff;
}

.header .header__text .header-btn {
  border-radius: 2.8rem;
  padding: 1.8rem 3.6rem;
}

.products .products__items .products-item .products-info .products-purchase .products-btn {
  font-size: 1.4rem;
  border-radius: 2.4rem;
  padding: 1.4rem;
}

@media (max-width: 58em) {
  .header {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .intro .intro__heading,
.intro .intro__items {
    text-align: center;
  }
  .intro .intro__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.4rem;
  }
  .intro .intro__testimonial {
    gap: 2.8rem;
  }

  .products .products__heading {
    text-align: center;
  }
}
@media (max-width: 54em) {
  .intro .intro__testimonial {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    text-align: center;
  }
  .intro .intro__testimonial .intro-img {
    display: none;
  }

  .products .products__items {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=main.css.map */