@media (max-width: 58em) {
  .header {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .intro {
    .intro__heading,
    .intro__items {
      text-align: center;
    }

    .intro__items {
      grid-template-columns: repeat(1, 1fr);
      gap: $mg-y-heading-secondary - $mg-y-paragraph;
    }

    .intro__testimonial {
      gap: 2.8rem;
    }
  }

  .products {
    .products__heading {
      text-align: center;
    }
  }
}

@media (max-width: 54em) {
  .intro {
    .intro__testimonial {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      text-align: center;

      .intro-img {
        display: none;
      }
    }
  }

  .products {
    .products__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
