%container {
  max-width: 960px;
  margin: 0 auto;
  padding: $ws-layout-padding 0;
}

%formatImg {
  display: block;
  width: 100%;
}

%formatParagraph {
  line-height: $line-height-paragraph;
  margin-bottom: $ws-paragraph-margin;
}
