// FONT SIZE
$fs-default: 1.8rem;
$fs-heading-primary: 4.4rem;
$fs-button-large: 1.8rem;
$fs-button-small: 1.4rem;

// COLORS
$color-palette: #099268;
$color-grey: #495057;
$color-grey-tint: #fff;
$color-grey-shade: #343a40;

// WHITE SPACE
$ws-layout-padding: 6.4rem;
$ws-heading-margin-primary: 3.2rem;
$ws-paragraph-margin: 2.4rem;

// LINE HEIGHT
$line-height-heading: 1.2;
$line-height-paragraph: 1.5;

// LETTER SPACING
$letter-spacing-heading: -0.1rem;

// BORDER RADIUS
$border-r-medium: 1.6rem;
$border-r-btn-large: 2.8rem;
$border-r-btn-small: 1.2rem;
