.header {
  @extend %container;
  @include grid(2, 4.8rem);

  .header__text {
    margin: auto 0;

    .header-heading {
      @include formatHeading($fs-heading-primary, $ws-heading-margin-primary);
      line-height: $line-height-heading;
      letter-spacing: $letter-spacing-heading;
    }

    .header-paragraph {
      @extend %formatParagraph;
    }

    .header-btn {
      @extend %btn;
      @extend %btn--large;
    }
  }

  .header__img {
    @extend %formatImg;
    @include roundCorner($border-r-medium);
  }
}
