.header {
  @extend %container;
  @include grid(2);

  .header__text {
    margin: auto 0;

    .header-heading {
      @extend %styleHeadingPrimary;
      line-height: $line-height-heading;
      letter-spacing: $letter-spacing-heading;
    }

    .header-paragraph {
      @extend %styleParagraph;
    }

    .header-btn {
      @extend %btn;
      @extend %btn--large;
    }
  }

  .header__img {
    @extend %styleImg;
    @include roundCorner($border-r-medium);
  }
}
