.intro {
  @extend %container;

  .intro__heading {
    @extend %styleHeadingSecondary;
  }

  .intro__items {
    @include grid(3);

    .intro-heading-sub {
      @extend %styleHeadingTertiary;
    }

    .intro-paragraph {
      @extend %styleParagraph;
    }
  }

  .intro__testimonial {
    @include grid(3);
    @include roundCorner($border-r-medium);
    background-color: $color-palette;
    padding: 2.8rem;

    .intro-img {
      @extend %styleImg;
      @include roundCorner($border-r-small);
    }

    .intro-content {
      grid-column: 2/-1;
      margin: auto 0;

      .intro-quote {
        @extend %styleHeadingTertiary;
        color: $color-grey-tint;
        font-weight: 700;
      }

      .intro-detail {
        @extend %styleParagraph;
      }

      color: $color-grey-tint;
    }
  }
}
