.products {
  @extend %container;

  .products__heading {
    @extend %styleHeadingSecondary;
  }

  .products__items {
    @include grid(3);

    .products-item {
      @include roundCorner($border-r-medium);
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

      .products-img {
        @extend %styleImg;
      }

      .products-info {
        padding: 2.4rem;

        .products-heading-sub {
          @extend %styleHeadingTertiary;
        }

        .products-describe {
          @extend %styleParagraph;
        }
        .products-purchase {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .products-price {
            font-weight: 700;
            color: $color-grey-shade;
          }

          .products-btn {
            @extend %btn;
            @extend %btn--small;
          }
        }
      }
    }
  }
}
