* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: $fs-default;
  color: $color-grey;
}

a {
  text-decoration: none;
  color: inherit;
}
