.intro__item .intro__headingParagraph, .intro .intro__headingParagraph {
  padding-bottom: 6.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #495057;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.container, .intro, .carousel__content, .header__bottom, .header__top-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid, .intro .intro__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.btn, .carousel__content .carousel__btn {
  border: 2px solid;
  padding: 0.8rem 3.2rem;
  transition: all 0.5s;
}

.btn--outline, .carousel__content .carousel__btn--outline {
  border-color: #fff;
  background-color: transparent;
}
.btn--outline:hover, .carousel__content .carousel__btn--outline:hover {
  border-color: #8710d8;
  background-color: #8710d8;
}

.btn--solid, .carousel__content .carousel__btn--solid {
  border-color: #8710d8;
  background-color: #8710d8;
}
.btn--solid:hover, .carousel__content .carousel__btn--solid:hover {
  border-color: #fff;
  background-color: transparent;
}

.header__top {
  background-color: #292b2c;
  color: #fff;
  font-size: 1.8rem;
}

.header__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.header__top-content .header__icon {
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  transition: all 0.5s;
}
.header__top-content .header__icon:not(:last-child) {
  margin-right: 1.6rem;
}
.header__top-content .header__icon--fb:hover {
  color: #527dbd;
}
.header__top-content .header__icon--tt:hover {
  color: #1da1f2;
}
.header__top-content .header__icon--gg:hover {
  color: #dd4b39;
}
.header__top-content .header__icon--li:hover {
  color: #0077b5;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.header__bottom .header__brand {
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: 0.32rem;
}
.header__bottom .header__brand::first-letter {
  font-size: 3.6rem;
  color: #8710d8;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.14rem;
}
.header__nav .nav__item {
  padding: 1.4rem 1.68rem;
}
.header__nav .nav__link {
  transition: all 0.5s;
}
.header__nav .nav__link:hover {
  color: #8710d8;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/carousel.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.carousel__content .carousel__heading {
  font-weight: 400;
  font-size: 4.8rem;
  color: #fff;
  margin-bottom: 0.96rem;
  letter-spacing: 0.48rem;
}
.carousel__content .carousel__paragraph {
  margin-bottom: 2.4rem;
}
.carousel__dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  gap: 8px;
}
.carousel__dots .carousel__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.intro {
  padding-top: 5.6rem;
  padding-bottom: 3.6rem;
  text-align: center;
}
.intro .intro__title::after {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  margin: auto;
  background-color: #cccccc;
}
.intro .intro__heading {
  font-weight: 400;
  font-size: 4.8rem;
  color: #292b2c;
  margin-bottom: 0.96rem;
}
.intro .intro__items {
  padding-top: 4.8rem;
}

.intro__item {
  padding: 0 2.4rem;
}
.intro__item .intro__icon {
  font-size: 4rem;
  line-height: 1;
  color: #8710d8;
}
.intro__item .intro__heading-sub {
  font-weight: 500;
  font-size: 2rem;
  color: #292b2c;
  padding: 1.6rem 0;
}
.intro__item:nth-child(even) {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}/*# sourceMappingURL=main.css.map */