// Font Size
$fs-default: 1.6rem;
$fs-heading-primary: $fs-default * 2;
$fs-heading-secondary: $fs-default * 3;
$fs-nav: $fs-default * 0.875;
$fs-icon-small: $fs-default * 1.5;

// Line Height
$lh-default: 1.5;

// Color
$color-palette: #8710d8;
$color-gray: #495057;
$color-gray-tint: #fff;
$color-gray-shade: #292b2c;

$color-icon-fb: #527dbd;
$color-icon-tt: #1da1f2;
$color-icon-gg: #dd4b39;
$color-icon-li: #0077b5;
$color-linear-gradient-img: rgba(0, 0, 0, 0.6);
